<div class="activity-card">
  <h3>Últimas Atividades</h3>

  <ng-container *ngIf="atividades$ | async as atividades; else loading">
    <div class="activity-list" *ngIf="atividades.length > 0; else noActivities">
      
      <div class="activity-item" *ngFor="let atividade of atividades">
        
        <div class="activity-content">
          <p class="activity-title">{{ atividade.texto }}</p>
          <span class="activity-date">{{ atividade.data | date:'dd/MM/yyyy HH:mm' }}</span>
        </div>
        
        <div class="activity-action">
          <mat-icon>{{ atividade.icone }}</mat-icon>
        </div>

      </div>

    </div>
  </ng-container>

  <ng-template #loading>
    <p class="placeholder">A carregar atividades...</p>
  </ng-template>

  <ng-template #noActivities>
    <p class="placeholder">Nenhum registo de atividade encontrado.</p>
  </ng-template>
</div>
